<div class="container">
<form action="/themHoaDon"  method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">User ID</label>
        <input type="text"  name="id_kh" class="form-control" id="exampleInputEmail1"
            placeholder="User ID" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Product ID</label>
        <input type="text"  name="id_sp" class="form-control" id="exampleInputEmail1"
            placeholder="Product ID" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Quantity</label>
        <input type="text"  name="so_luong" class="form-control" id="exampleInputEmail1"
            placeholder="Quantity" >
    </div>

    <input style="margin-left: 300px ; margin-bottom: 20px" type="submit" value="Submit Bill"  class="btn btn-primary" name="c">
</form>
</div>
<style>
    .container{
        width: 60%;
        float: left;
        margin-top: 30px;
        background-color: #4CAF50;
    }
</style>