<div class="container">
<form  action="/themProduct" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputEmail1">Product Name</label>
        <input type="text"  name="ten_sp" class="form-control" id="exampleInputEmail1"
            placeholder="product Name" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Product ID</label>
        <input type="text"  name="ma_sp" class="form-control" id="exampleInputEmail1"
            placeholder="product ID" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Price</label>
        <input type="text"  name="don_gia" class="form-control" id="exampleInputEmail1"
            placeholder="price" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Picture</label>
        <input type="text"  name="hinh_anh" class="form-control" id="exampleInputEmail1"
        placeholder="picture"  >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Description</label>
        <input type="text"  name="mo_ta" class="form-control" id="exampleInputEmail1"
            placeholder="Description" >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Quantity</label>
        <input type="text"  name="so_luong" class="form-control" id="exampleInputEmail1"
               placeholder="quantity" >
    </div>
    <input style="margin-left: 300px; margin-bottom: 20px" type="submit" value="Submit Product"  class="btn btn-primary" name="c">
</form>
</div>

<style>
    .container{
        width: 60%;
        float: left;
        margin-top: 30px;
        background-color: #4CAF50;
    }
</style>